body {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.text {
    /* font-family: 'Roboto Mono', monospace; */
    font-weight: 400;
}

h1 {
    font-weight: 600;
    color: rgb(51, 83, 132);
}

h3 {
    font-weight: 600;
    color: rgb(66 165 221);
}

h6 {
    font-weight: bold;
    font-size: 1.25rem;
}

section h4 {
    letter-spacing: 4px;
}

section h3 {
    letter-spacing: 4px;
}

.sidebar {
    background-color: #be7680;
    ;
    padding: 20px 30px;
    text-align: center;
}

.mainContent {
    padding: 20px 30px;
}

hr {
    background-color: #be7680;
    ;
    width: 291px;
}

.title-sidebar {
    padding-top: 3.7em;
    color: rgb(80 203 255);
}

.text-sidebar>p {
    color: rgb(255, 255, 255);
}

.text-sidebar>ul {
    color: rgb(255, 255, 255);
    list-style: none;
    padding-left: 5px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(80 203 255);
}

.intro {
    padding-bottom: 104px;
}

.title-content {
    color: rgb(66 165 221);
}

.bar {
    background: rgb(51, 83, 132);
    display: block;
    height: 5px;
    border: 1px solid rgb(51, 83, 132);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(80 203 255);
    margin: 0px 25px 0px 25px;
}

.bar span {
    height: 3px;
    float: left;
    background: rgb(80 203 255);
}

.html {
    width: 90%;
    animation: html 2s;
}

.css {
    width: 80%;
    animation: css 2s;
}

.javascript {
    width: 60%;
    animation: javascript 2s;
}

.sass {
    width: 50%;
    animation: sass 2s;
}

.java {
    width: 30%;
    animation: java 2s;
}

.git {
    width: 70%;
    animation: git 2s;
}

.figma {
    width: 60%;
    animation: figma 2s;
}

.mysql {
    width: 20%;
    animation: mysql 2s;
}

.webpack {
    width: 40%;
    animation: webpack 2s;
}

.npm {
    width: 40%;
    animation: mpm 2s;
}

.node {
    width: 40%;
    animation: mpm 2s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes sass {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes mysql {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes figma {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes webpack {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes npm {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

@keyframes node {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}